@{
    ViewBag.Title = "Browse";
}
@model WhatsYourProblemCSharp.Models.PUser
<style>
    /*Account stuff*/
    .accountStuff {
        float: right;
        width: 200px;
    }

        .accountStuff > div {
            float: left;
            margin-right: 10px;
        }

    .logoff {
        cursor: pointer;
    }

        .logoff:hover {
            text-decoration: underline;
        }
    /*Problem stuff*/
    .submitProblem {
        float: left;
        clear: left;
        margin-left: 2.5%;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .submitProblem:hover {
            text-decoration: underline;
        }

    .problemContainer {
        width: 75%;
        float: left;
        clear: left;
        margin-left: 2.5%;
    }

    .problem {
        float: left;
        clear: left;
        margin-bottom: 1%;
        width: 100%;
    }

    .selectedProblem > .pTitle {
        font-weight: bold;
    }

    .voteArrowsContainer {
        float: left;
        clear: left;
        margin-right: 0.5%;
    }

        .voteArrowsContainer > img {
            cursor: pointer;
        }

    .voteUpArrow {
        float: left;
        clear: left;
        height: 25px;
        width: 25px;
        background-color: #ccc;
    }

    .voteDownArrow {
        float: left;
        clear: left;
        height: 25px;
        width: 25px;
        background-color: #ccc;
    }

    .pTitle {
        float: left;
        width: 90%;
        cursor: pointer;
    }

    .pOptions {
        float: left;
        width: 90%;
        font-size: 0.8em;
    }

        .pOptions > div {
            float: left;
            margin-right: 0.5%;
        }
    /*Comment stuff*/
    .commentContainer {
        float: right;
        clear: right;
        width: 20%;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 80%;
    }

    .comment.notUser {
        text-align: left;
        float: left;
        clear: both;
    }

        .comment.notUser > .colourBar {
            background-color: green;
            padding-left: 3%;
            color: white;
        }

    .comment.user {
        text-align: left;
        float: right;
        clear: both;
    }

        .comment.user > .colourBar {
            background-color: blue;
            padding-left: 3%;
            color: white;
        }

    .comment {
        margin-bottom: 7%;
        width: 90%;
    }

    .commentSubmitContainer {
        float: right;
        height: 10%;
        position: relative;
        clear: right;
        width: 20%;
    }

        .commentSubmitContainer > input[type="button"] {
            background-color: #d3dce0;
            border: 1px solid #787878;
            cursor: pointer;
            font-weight: 600;
            padding: 7px;
            width: auto;
            position: absolute;
            bottom: 1%;
            right: 1%;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1em;
            margin-right: 0%;
            opacity: 0.3;
        }

            .commentSubmitContainer > input[type="button"]:hover {
                opacity: 1;
            }

        .commentSubmitContainer > textarea {
            height: 100%;
            width: 96%;
            resize: none;
            padding-left: 3%;
            margin: 0;
        }

    .content {
        background-color: #ccc;
        padding-left: 3%;
        font-size: 0.9em;
    }

    .messageDetails {
        font-size: 0.7em;
        color: #696969;
    }

    .pContentHolder {
        float: left;
        position: relative;
        width: 90%;
        border: solid 1px #ccc;
        margin-top: 1%;
    }

    .pContent {
        float: left;
        width: 98%;
        padding: 1%;
        min-height: 20px;
    }

    .pContentControls {
        position: absolute;
        top: 5px;
        right: 11px;
        font-size: 0.8em;
        cursor: pointer;
    }

        .pContentControls:hover {
            text-decoration: underline;
        }


    .showContent:hover {
        text-decoration: underline;
    }

    
</style>
<script>
    $('body').css('height', $(window).height() + 'px');
    $(document).on('click', '.pTitle', function (e) {

        var $this = $(this);
        var $problem = $this.closest('.problem');
        var wasSelected = $problem.hasClass('selectedProblem');
        $('.problem').removeClass('selectedProblem');


        if (!wasSelected) {
            $problem.addClass('selectedProblem');
        }

        var $pContentHolder = $problem.find('.pContentHolder');

    });
    $(document).on('click', '.edit', function (e) {
        var $this = $(this);
        var $pContent = $this.closest('.problem').find('.pContent');
        $pContent.attr('contenteditable') == 'true' ? $pContent.attr('contenteditable', 'false') : $pContent.attr('contenteditable', 'true');
        $this.text() == 'edit' ? $this.text('done') : $this.text('edit');
    })
    //LOG OFF
    $(document).on('click', '.logoff', function (e) {
        $('.logoff').attr('disabled', 'disabled').text('logging off...');
        $.ajax({
            type: "POST",
            url: "/Account/JsonLogOff",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (a) {
                if (a) {
                    $('.logoff').text('logged off');
                    document.location = "/Home";
                } else {
                    alert('server error');
                }
            },
            error: function (ex) {
                //communication error
                alert('communication error');
            },

        });
    });
    
    $(document).on('click', '.submitProblem', function (e) {
        $('.submitProblem-container').fadeIn(100);
        $('.submitProblem-cover').fadeIn(100);
    });
</script>
<script src="/Scripts/jquery.signalR-1.1.3.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    var chat;
    $(function () {
        chat = $.connection.chatHub;
        chat.client.addMessage = function (name, message) {
            $('.commentContainer').append('<div class="comment user"><div class="colourBar"><span>' + name + '</span></div><div class="content">' + message + '</div><div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div></div>');
            $('.commentContainer').scrollTop($('.commentContainer').height());
            $('.commentSubmitContainer > textarea').val("");
            $('.commentSubmitContainer > input[type="button"]').removeAttr('enabled').val('send');

        }
        $(document).on('click', '.commentSubmitContainer > input[type="button"]', function (e) {
            chat.server.send("billbob", $('.commentSubmitContainer > textarea').val(), 'test');
            $('.commentSubmitContainer > input[type="button"]').attr('enabled', 'false').val('sending');
        });
        $.connection.hub.start();
    })
</script>
<div class="accountStuff">
    <div class="hiUser">Hi @Model.NameFirst</div>
    <div class="logoff">log off</div>
    
</div>
<div class="submitProblem">
    Submit a new problem
</div>

<div class="problemContainer">
    @Html.Action("ProblemContainer", "Problem")
</div>
<div class="commentContainer">
    <div class="comment notUser">
        <div class="colourBar"><span>Owen</span></div>
        <div class="content">I thought this idea could be great for the stuff we were talking about last week?</div>
        <div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div>
    </div>
    <div class="comment user">
        <div class="colourBar"><span>Owen</span></div>
        <div class="content">I thought this idea could be great for the stuff we were talking about last week?</div>
        <div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div>
    </div>
    <div class="comment notUser">
        <div class="colourBar"><span>Owen</span></div>
        <div class="content">I thought this idea could be great for the stuff we were talking about last week?</div>
        <div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div>
    </div>
    <div class="comment notUser">
        <div class="colourBar"><span>Owen</span></div>
        <div class="content">I thought this idea could be great for the stuff we were talking about last week?</div>
        <div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div>
    </div>
    <div class="comment notUser">
        <div class="colourBar"><span>Owen</span></div>
        <div class="content">I thought this idea could be great for the stuff we were talking about last week?</div>
        <div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div>
    </div>
    <div class="comment user">
        <div class="colourBar"><span>Owen</span></div>
        <div class="content">I thought this idea could be great for the stuff we were talking about last week?</div>
        <div class="messageDetails"><span class="messageDate">4/3/12 9.10am</span></div>
    </div>
    <div></div>
</div>
@Html.Action("Submit", "Problem")